@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    background-color: black;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.para{
    margin-top: 60px;
    margin-bottom: 30px;

}
.option-style{
    margin-bottom:20px;
}

button{
    border-style: solid;
    border-color: aliceblue;
    padding:8px ;
    margin-top: 10px;
    background-color: aliceblue;
    color: black;
}
/* #item{
    border-style: solid;
    border-color: aliceblue;
    padding:8px ;
} */